<div class="col-md-12">
  <p>car name</p>
  <input type="text" class="form-control" [(ngModel)]="carName">
  <p>car color</p>
  <input type="text" class="form-control" [(ngModel)]="carColor">
  <button class="btn btn-success" (click)="addCar()">Add car</button>
  <hr>
  <button class="btn btn-primary" (click)="loadCars()" >Load cars</button>
  <hr>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let car of cars">
      <span class="badge" [ngStyle]="{background: car.color}">
        {{car.id}}
      </span>
      {{car.name}}
      ({{car.color}})
      <button class="btn btn-xs btn-info" (click)="setNewColor(car)">Change color</button>
      <button class="btn btn-xs btn-danger" (click)="deleteCar(car)">Delete car</button>
    </li>
  </ul>
</div>

